* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.nav-outer {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: sticky;
    top: 0px;
    z-index: 99999;
    background-color: white;

}

#nav {
    width: 70%;
    display: flex;
    height: auto;
    margin: auto;
    justify-content: space-between;

}

#nav>#left-nav {
    width: 15%;
}

#left-nav>a>img {
    width: 100%;
    cursor: pointer;
}

.location {
    color: gray;
}

#nav>#right-nav {
    width: 80%;
}

.location {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.search-basket {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
   
}

.search {
    display: flex;
    width: 70%;
    align-items: center;
}

.search>input {
    width: 80%;
    height: 35px;
    border: 1px solid #84c225;
    padding-left: 20px;
}

.search>img {
    width: 5.9%;
    cursor: pointer;
}

.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5px 5px;
}


/* <!-- <------------------------------------------------Nav Bar end ------------------------------------------------> */
/* <!-- <------------------------------------------------category css start  ------------------------------------------------> */


#category {
    background-color: #84c225;
    width: 20%;
}

#category>ul {
    color: white;
    position: absolute;
    z-index: 999;
    margin-top: 0px;
}

#category>ul>img {
    width: 10%;
    margin-left: 20px;
    margin-top: 5px;
}

#category>ul>li {
    background-color: white;
    border: 1px solid #c1c3be;
    visibility: hidden;
    left: 0;
    display: none;

}

.second {
    
    display: flex;
    width: 70%;
    height: 30px;
    margin: auto;
    margin-bottom: 10 px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#category>ul:hover>li {
    width: 200%;
    visibility: visible;
    display: block;
    cursor: pointer;
    overflow: hidden;
    color: black;
}

#offers {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#offers>img {
    width: 20%;
    margin-left: 20px;
    transform: rotate(270deg);
}

/* <!-- <------------------------------------------------category css end  ------------------------------------------------> */

/* <!-- <------------------------------------------------Image Carousel css start ------------------------------------------------> */

.carousel-indicators li {
    margin: 0;
    width: 10%;
    height: 50px;
    padding: 0px 10px;
    font-size: 15px;
    text-align: center;
    color: rgb(59, 56, 56);
    line-height: 120%;
    text-indent: 0px;
    cursor: pointer;
}

.carousel-indicators .active {
    border-bottom: 5px solid green;
}

.carousel-indicators li::first-line {
    font-weight: bold;
}

.carousel-indicators {
    margin-bottom: -10px;
}

/* <!-- <------------------------------------------------Image Carousel css end ------------------------------------------------> */

/* <!-- <------------------------------------------------Offer button start ------------------------------------------------> */
#offer_btn {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    font-weight: bold;
}

#offer_btn>div {
    width: 15%;
    display: flex;
    background-color: #e8e8e8;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
}

#offer_btn>div:nth-child(2) {
    background-color: white;
    padding: 0px;
}

#offer_btn>div:nth-child(3) {
    background-color: #4c6020;
    color: white;
}

#offer_btn>div>img {
    width: 100%;
    height: 100%;

}

/* <!-- <------------------------------------------------Offer button end ------------------------------------------------> */


/* <!-- <------------------------------------------------My smart basket start  ------------------------------------------------> */
#carousel_veg{
    width: 70%;
    border: 5px solid gray;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
.slide{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.slide>button{
    position: absolute;
    top: 45%;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}
.slide_btn_left{
    left:5px
}
.slide_btn_right{
    right:5px
}
#carousel_veg>.slide>div{
    width: 20%;
}
/* <!-- <------------------------------------------------My smart basket end  ------------------------------------------------> */


/* <!-- <------------------------------------------------Bank/Top offer start  ------------------------------------------------> */
#bank_offer,#top_offer{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between
}
h3{
    margin-top: 20px;
    text-align: center;
}
#bank_offer>div,#top_offer>div {
    width: 24%;
}
#bank_offer>div:hover,#top_offer>div:hover{
    cursor: pointer;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
    
}
#bank_offer>div>img ,#top_offer>div>img{
    width: 100%;
}
hr{
    width: 70%;
    margin: auto;
    margin-bottom: 16px;
}

/* <!-- <------------------------------------------------Bank/Top offer start  ------------------------------------------------> */
/* <!-- <------------------------------------------------Fruits and vegitables start  ------------------------------------------------> */

#fruits{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between; 
}
#fruits_left{
    width: 48%;
    justify-content: center;
    align-items: center;
}
#fruits_right{
    width: 48%;
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    justify-content: center;
    align-items: center; 
    gap: 7px;
}
#fruits_right>div>img,#fruits_left>div>img{
    width: 100%;
}
#fruits_right>div,#fruits_left>div{
    border: 1px solid rgb(212, 206, 206);
}
/* <!-- <------------------------------------------------Fruits and vegitables start  ------------------------------------------------> */


#stapels{
    display: flex;
    width: 70%;
    gap: 5px;
    margin: auto;
}
#stapels>div>img{
    width: 100%;
}
#stapels>div{
    border: 1px solid rgb(212, 206, 206);
}
#stapels>div:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
cursor: pointer;
}

/* <!-- <------------------------------------------------ Image slider  ------------------------------------------------> */

#carouselExampleControls{
    border: 1px solid rgb(212, 206, 206);
    width: 70%;
    margin: auto;
    margin-top: 20px;
}
 /* <!-- <------------------------------------------------ Read More  ------------------------------------------------> */

 #read_more{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid gray;
    padding: 20px;
 }
 #read_more>p,p+ul ,#more>p{
    color: gray;
    font-size: 10px;
 }

 #read_more>h4:nth-child(2){
    margin-top: 10px;
 }

 #more{
    display: none;
 }
 #next{
  display: block;
  padding: 2px 15px;
  border: 0px;
  border:1px solid gray
 }
/* ---------------------------- footer css-------------------- */
 .footer {
    width: 70%;
    margin: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8vw;
    border-bottom: 1px solid gray;
  }
  .footer>div{
    color: gray;
    font-size: 14px;
 }
  .footer li {
    list-style: none;
  }
  .footer li:nth-child(1) {
    color: rgb(132, 194, 37);
    font-size: 1.1em;
  }
  .footer li:hover {
    color: rgb(132, 194, 37);
    cursor: pointer;
  }
  .footer-end{
    width: 70%;
    margin: auto;
  }
  .footer-end > div {
    display: flex;
    padding: 2rem;
  }
  .footer-end>div>div{
    color: gray;
    font-size: 14px;
 }
  .footer-end > div h1 {
    font-size: 1em;
    font-weight: 300;
    color: rgb(132, 194, 37);
  }
  .ft-div {
    width: 20vw;
  }
  .ft-div ~ div {
    width: 70vw;
    display: flex;

  }
  #download-img {
    display: block;
    margin: 0.5rem;
  }
  #footer-contact div {
    size: 3vw;
    border: 1px solid red;
  }
  .pay>p{
    width: 10%;
  }
  .footer-end img {
    width: 40vw;
  }
 



