* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#main {
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 10px;
}

/* ----------------------js script css-------------------- */
.maindiv {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px 7px;
}

.offer {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    color: red;
    font-size: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.mainimg {
    width: 100%;
    margin: auto;
}

.pricediv {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.del_div {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 10px;
}

.select {
    width: 100%;
    outline: none;
    margin: 20px 0px 10px;
}

.cartbtn {
    width: 35%;
    display: flex;
    margin-left: 3px;
    padding: 0px 5px; 
    justify-content: space-around;
    align-items: center;
    background-color: #fde37c;
    border-radius: 5px;
    cursor: pointer;
}

#last {
    display: flex;
    margin-left: 5px;
    width: 100%;
    height: 30px;
}

.Qty {
    width: 20%;
    color: white;
    background-color: gray;
    padding: 0px 5px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
}

.quantity {
    width: 20%;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
    border: 1px solid gray;
}